<a href="https://github.com/ahmetemrekilinc/ember-time-enabled-pikaday" target="_blank">Github</a>
<a href="https://www.npmjs.com/package/ember-time-enabled-pikaday" target="_blank">Npmjs</a>

{{#generic-demo-page name='Example Usage of Ember Time Enabled Pikaday' files='showcase.hbs,showcase.js'}}
  {{component 'showcase'}}
{{/generic-demo-page}}

{{outlet}}